 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1052px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-1 .u-group-1 {
  width: 300px;
  min-height: 445px;
  height: auto;
  margin: 1px 128px 0 auto;
}

.u-section-1 .u-gallery-1 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-1 .u-text-2 {
  margin: 41px auto 0;
}

.u-section-1 .u-group-2 {
  width: 300px;
  min-height: 445px;
  height: auto;
  margin: -445px auto 0 129px;
}

.u-section-1 .u-gallery-2 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0;
}

.u-section-1 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-gallery-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-gallery-item-13 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 41px auto 0;
}

.u-section-1 .u-group-3 {
  width: 300px;
  min-height: 445px;
  height: auto;
  margin: 37px 128px 0 auto;
}

.u-section-1 .u-gallery-3 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0;
}

.u-section-1 .u-carousel-indicators-3 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-3 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-gallery-item-17 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-gallery-item-18 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-5 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin: 41px auto 0;
}

.u-section-1 .u-group-4 {
  width: 300px;
  min-height: 445px;
  height: auto;
  margin: -445px auto 38px 129px;
}

.u-section-1 .u-gallery-4 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0;
}

.u-section-1 .u-carousel-indicators-4 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-1 .u-gallery-inner-4 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-16 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-17 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-gallery-item-23 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-gallery-item-24 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-24 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-7 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-8 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  padding: 10px;
}

.u-section-1 .u-text-5 {
  margin: 41px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: -491px;
    margin-right: 120px;
    height: auto;
  }

  .u-section-1 .u-carousel-item-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 427px;
    margin-left: 120px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    font-weight: 400;
  }

  .u-section-1 .u-group-3 {
    margin-top: -835px;
    margin-right: auto;
    margin-left: 120px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: -491px;
    margin-bottom: 60px;
    margin-left: 120px;
    height: auto;
  }

  .u-section-1 .u-carousel-item-15 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-16 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-17 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2017px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 503px;
    margin-right: auto;
  }

  .u-section-1 .u-carousel-control-1 {
    left: -51px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: -51px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -928px;
    margin-left: auto;
  }

  .u-section-1 .u-carousel-control-3 {
    left: -51px;
  }

  .u-section-1 .u-carousel-control-4 {
    right: -51px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 990px;
    margin-left: auto;
  }

  .u-section-1 .u-carousel-control-5 {
    left: -51px;
  }

  .u-section-1 .u-carousel-control-6 {
    right: -51px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -928px;
    margin-left: auto;
  }

  .u-section-1 .u-carousel-control-7 {
    left: -51px;
  }

  .u-section-1 .u-carousel-control-8 {
    right: -51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-group-1 {
    margin-top: 424px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: -81px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: -78px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 403px;
    margin-right: 320px;
    margin-left: 429px;
  }

  .u-section-1 .u-carousel-control-3 {
    left: -81px;
  }

  .u-section-1 .u-carousel-control-4 {
    right: -78px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -1738px;
    margin-right: 206px;
  }

  .u-section-1 .u-carousel-control-5 {
    left: -81px;
  }

  .u-section-1 .u-carousel-control-6 {
    right: -78px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 424px;
  }

  .u-section-1 .u-carousel-control-7 {
    left: -81px;
  }

  .u-section-1 .u-carousel-control-8 {
    right: -78px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 27px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 948px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -1373px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 489px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 825px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-2 .u-group-1 {
  width: 300px;
  min-height: 445px;
  height: auto;
  margin: 1px auto 0 60px;
}

.u-section-2 .u-gallery-1 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-2 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-gallery-item-9 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-gallery-item-10 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  padding: 10px;
}

.u-section-2 .u-text-2 {
  margin: 41px auto 0;
}

.u-section-2 .u-group-2 {
  width: 300px;
  min-height: 441px;
  margin: -445px 60px 0 auto;
}

.u-section-2 .u-gallery-2 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-2 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-3 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-2 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-2 .u-text-3 {
  margin: 41px 11px 0;
}

.u-section-2 .u-group-3 {
  width: 300px;
  min-height: 447px;
  height: auto;
  margin: -186px auto 32px;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-2 .u-gallery-3 {
  height: 336px;
  width: 260px;
  margin: 33px auto 0;
}

.u-section-2 .u-carousel-indicators-3 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-2 .u-gallery-inner-3 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-17 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-18 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-21 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-gallery-item-22 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-22 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-gallery-item-23 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-23 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-5 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  background-image: none;
  padding: 8px;
}

.u-section-2 .u-carousel-control-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  background-image: none;
  padding: 8px;
}

.u-section-2 .u-text-4 {
  margin: 41px auto 0 -19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-carousel-item-9 {
    margin-bottom: 0;
  }

  .u-section-2 .u-carousel-item-10 {
    margin-bottom: 0;
  }

  .u-section-2 .u-carousel-item-11 {
    margin-bottom: 0;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-carousel-item-17 {
    margin-bottom: 0;
  }

  .u-section-2 .u-carousel-item-18 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1071px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: -51px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: -51px;
  }

  .u-section-2 .u-group-2 {
    min-height: 445px;
    margin-right: 20px;
  }

  .u-section-2 .u-carousel-control-3 {
    left: -51px;
  }

  .u-section-2 .u-carousel-control-4 {
    right: -51px;
  }

  .u-section-2 .u-group-3 {
    min-height: 458px;
    margin-top: 21px;
    margin-bottom: 60px;
    margin-left: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-carousel-control-1 {
    left: -81px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: -78px;
  }

  .u-section-2 .u-carousel-control-3 {
    left: -81px;
  }

  .u-section-2 .u-carousel-control-4 {
    right: -78px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1468px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 619px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-3 .u-group-1 {
  width: 300px;
  min-height: 445px;
  height: auto;
  margin: 1px auto 0 129px;
}

.u-section-3 .u-gallery-1 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-3 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  padding: 10px;
}

.u-section-3 .u-text-2 {
  margin: 41px auto 0;
}

.u-section-3 .u-group-2 {
  width: 300px;
  min-height: 445px;
  height: auto;
  margin: -445px 128px 60px auto;
}

.u-section-3 .u-gallery-2 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-3 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-3 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-3 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-3 .u-text-3 {
  margin: 41px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-top: -9px;
    margin-left: 20px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    margin-right: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-top: 0;
  }

  .u-section-3 .u-carousel-control-1 {
    left: -51px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: -51px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -444px;
  }

  .u-section-3 .u-carousel-control-3 {
    left: -51px;
  }

  .u-section-3 .u-carousel-control-4 {
    right: -51px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-group-1 {
    margin-top: -21px;
    margin-left: auto;
  }

  .u-section-3 .u-carousel-control-1 {
    left: -81px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: -78px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-3 .u-carousel-control-3 {
    left: -81px;
  }

  .u-section-3 .u-carousel-control-4 {
    right: -78px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 27px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 616px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  width: 300px;
  margin: 48px auto 0;
}

.u-section-4 .u-group-1 {
  width: 300px;
  min-height: 458px;
  height: auto;
  margin: 0 auto 48px;
}

.u-section-4 .u-gallery-1 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0 20px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-4 .u-text-2 {
  margin: 58px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
    margin-right: 54px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 19px;
    margin-right: auto;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 817px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-5 .u-group-1 {
  width: 300px;
  min-height: 441px;
  margin: 1px auto 0 60px;
}

.u-section-5 .u-gallery-1 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0 20px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-5 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  padding: 10px;
}

.u-section-5 .u-text-2 {
  margin: 41px auto 0;
}

.u-section-5 .u-group-2 {
  width: 300px;
  min-height: 441px;
  margin: -445px 60px 0 auto;
}

.u-section-5 .u-gallery-2 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0 20px;
}

.u-section-5 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-5 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-3 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-5 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-5 .u-text-3 {
  margin: 41px auto 0;
}

.u-section-5 .u-group-3 {
  width: 300px;
  min-height: 419px;
  height: auto;
  margin: -204px auto 60px;
}

.u-section-5 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-5 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-5 .u-gallery-3 {
  height: 336px;
  width: 260px;
  margin: 15px auto 0 20px;
}

.u-section-5 .u-carousel-indicators-3 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-5 .u-gallery-inner-3 {
  --gap: 0px;
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-5 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  background-image: none;
  padding: 8px;
}

.u-section-5 .u-carousel-control-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  background-image: none;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -9px;
    margin-left: 20px;
  }

  .u-section-5 .u-group-2 {
    margin-right: 20px;
  }

  .u-section-5 .u-group-3 {
    margin-top: -220px;
    margin-bottom: 50px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-group-1 {
    min-height: 445px;
    margin-top: -7px;
  }

  .u-section-5 .u-carousel-control-1 {
    left: -55px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: -55px;
  }

  .u-section-5 .u-group-2 {
    min-height: 445px;
  }

  .u-section-5 .u-carousel-control-3 {
    left: -55px;
  }

  .u-section-5 .u-carousel-control-4 {
    right: -55px;
  }

  .u-section-5 .u-group-3 {
    margin-top: -43px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-group-1 {
    margin-top: -21px;
    margin-left: auto;
  }

  .u-section-5 .u-carousel-control-1 {
    left: -81px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: -78px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-5 .u-carousel-control-3 {
    left: -81px;
    bottom: 57px;
  }

  .u-section-5 .u-carousel-control-4 {
    right: -78px;
  }

  .u-section-5 .u-group-3 {
    margin-top: 41px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 28px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 0;
  }

  .u-section-5 .u-group-3 {
    min-height: 460px;
    margin-top: 20px;
    margin-bottom: 49px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 404px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-3 {
    margin-top: -432px;
    margin-left: auto;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 608px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  width: 295px;
  margin: 27px auto 0;
}

.u-section-6 .u-group-1 {
  width: 300px;
  min-height: 458px;
  height: auto;
  margin: 12px auto 0 120px;
}

.u-section-6 .u-gallery-1 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0 20px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 10px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
  padding: 10px;
}

.u-section-6 .u-text-2 {
  margin: 54px auto 0;
}

.u-section-6 .u-group-2 {
  width: 300px;
  min-height: 454px;
  margin: -458px 120px 45px auto;
}

.u-section-6 .u-gallery-2 {
  height: 336px;
  width: 260px;
  margin: 20px auto 0 20px;
}

.u-section-6 .u-carousel-indicators-2 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-6 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-6 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-3 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-6 .u-carousel-control-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

.u-section-6 .u-text-3 {
  margin: 54px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 34px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 20px;
    margin-left: 54px;
    height: auto;
  }

  .u-section-6 .u-carousel-item-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-carousel-item-2 {
    margin-bottom: 0;
  }

  .u-section-6 .u-carousel-item-3 {
    margin-bottom: 0;
  }

  .u-section-6 .u-carousel-item-4 {
    margin-bottom: 0;
  }

  .u-section-6 .u-group-2 {
    margin-right: 54px;
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-6 .u-text-1 {
    width: 288px;
  }

  .u-section-6 .u-group-1 {
    margin-left: 20px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: -51px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: -51px;
  }

  .u-section-6 .u-group-2 {
    min-height: 458px;
    margin-right: 20px;
  }

  .u-section-6 .u-carousel-control-3 {
    left: -51px;
  }

  .u-section-6 .u-carousel-control-4 {
    right: -51px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1108px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: 50px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-6 .u-carousel-control-1 {
    left: -81px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: -78px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-6 .u-carousel-control-3 {
    left: -81px;
  }

  .u-section-6 .u-carousel-control-4 {
    right: -78px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-group-2 {
    margin-bottom: 50px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 514px;
}

.u-section-7 .u-layout-wrap-1 {
  background-image: none;
  width: 532px;
  margin: 54px auto 30px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 448px;
}

.u-section-7 .u-container-layout-1 {
  box-shadow: 0px 0px 16px 0px rgba(128,128,128,1);
  padding: 8px 24px 7px 30px;
}

.u-section-7 .u-form-1 {
  height: 413px;
  background-image: none;
  width: 462px;
  margin: 0 auto;
}

.u-section-7 .u-form-group-1 {
  margin-left: auto;
}

.u-section-7 .u-label-1 {
  font-weight: 700;
}

.u-section-7 .u-form-group-2 {
  margin-right: 0;
  margin-left: auto;
}

.u-section-7 .u-label-2 {
  font-weight: 700;
}

.u-section-7 .u-form-group-3 {
  margin-left: auto;
}

.u-section-7 .u-label-3 {
  font-weight: 700;
}

.u-section-7 .u-form-group-4 {
  margin-left: auto;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-left: auto;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 41px;
    margin-bottom: 41px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-form-1 {
    width: 396px;
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 30px;
  }

  .u-section-7 .u-form-1 {
    height: 416px;
    margin-top: 0;
    margin-right: 11px;
    margin-left: 5px;
    width: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-form-1 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-7 .u-form-1 {
    width: 294px;
    margin-top: 6px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 63px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 63px;
}

.u-section-8 .u-container-layout-1 {
  padding: 12px 60px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 63px;
}

.u-section-8 .u-container-layout-2 {
  padding: 8px 60px;
}

.u-section-8 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-8 .u-icon-1 {
  height: 48px;
  color: rgb(197, 54, 164) !important;
}

.u-section-8 .u-icon-2 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-8 .u-icon-3 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-8 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
}

.u-section-8 .u-icon-5 {
  height: 48px;
  color: rgb(0, 230, 118) !important;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 44px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 52px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 55px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 40px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 52px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 9px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 0;
  }
}