 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1411px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 36px auto 0;
}

.u-section-1 .u-group-1 {
  width: 460px;
  min-height: 605px;
  height: auto;
  margin: 40px auto 0 28px;
}

.u-section-1 .u-gallery-1 {
  width: 420px;
  height: 444px;
  grid-gap: 10px 10px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
}

.u-section-1 .u-back-image-1 {
  object-position: 50% 7.08%;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-back-image-3 {
  object-position: 50% 59.73%;
}

.u-section-1 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-back-image-4 {
  object-position: 50% 7.08%;
}

.u-section-1 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-back-image-5 {
  object-position: 50% 7.08%;
}

.u-section-1 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-back-image-6 {
  object-position: 50% 47.35%;
}

.u-section-1 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-back-image-7 {
  object-position: 50% 19.03%;
}

.u-section-1 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 35px auto 0;
}

.u-section-1 .u-group-2 {
  width: 460px;
  min-height: 605px;
  height: auto;
  margin: -630px 28px 0 auto;
}

.u-section-1 .u-gallery-2 {
  width: 420px;
  height: 444px;
  grid-gap: 10px 10px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-11 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-12 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-1 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-2 {
  padding-top: 10px;
}

.u-section-1 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 35px auto 0;
}

.u-section-1 .u-group-3 {
  width: 460px;
  min-height: 572px;
  height: auto;
  margin: 95px auto 36px;
}

.u-section-1 .u-gallery-3 {
  width: 420px;
  height: 444px;
  grid-gap: 10px 10px;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-gallery-inner-3 {
  --gap: 0px;
}

.u-section-1 .u-carousel-item-13 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
}

.u-section-1 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-14 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
}

.u-section-1 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-15 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
}

.u-section-1 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-16 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
}

.u-section-1 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-17 {
  margin-right: 0;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-3 {
  padding-top: 10px;
}

.u-section-1 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 36px 120px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-carousel-item-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 51px;
    height: 51px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 51px;
    height: 51px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 51px;
    height: 51px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 51px;
    height: 51px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 51px;
    height: 51px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 51px;
    height: 51px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 51px;
    height: 51px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-carousel-item-8 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-9 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-10 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-11 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-12 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 76px;
    height: 76px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 76px;
    height: 76px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 76px;
    height: 76px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 76px;
    height: 76px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 76px;
    height: 76px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-carousel-item-13 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-14 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-15 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-item-16 {
    margin-bottom: 0;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 76px;
    height: 76px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 76px;
    height: 76px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 76px;
    height: 76px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    width: 76px;
    height: 76px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    width: 76px;
    height: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-weight: 700;
  }

  .u-section-1 .u-group-1 {
    margin-top: 36px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 40px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-carousel-thumbnail-1 {
    width: 40px;
    height: 40px;
  }

  .u-section-1 .u-carousel-thumbnail-2 {
    width: 40px;
    height: 40px;
  }

  .u-section-1 .u-carousel-thumbnail-3 {
    width: 40px;
    height: 40px;
  }

  .u-section-1 .u-carousel-thumbnail-4 {
    width: 40px;
    height: 40px;
  }

  .u-section-1 .u-carousel-thumbnail-5 {
    width: 40px;
    height: 40px;
  }

  .u-section-1 .u-carousel-thumbnail-6 {
    width: 40px;
    height: 40px;
  }

  .u-section-1 .u-carousel-thumbnail-7 {
    width: 40px;
    height: 40px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-gallery-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-carousel-thumbnail-8 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-9 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-10 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-11 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-12 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-gallery-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-carousel-thumbnail-13 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-14 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-15 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-16 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-carousel-thumbnail-17 {
    width: 60px;
    height: 60px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 89px;
    margin-right: 89px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2216px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 23px auto 0;
}

.u-section-2 .u-group-1 {
  width: 460px;
  min-height: 620px;
  height: auto;
  margin: 25px auto 0 23px;
}

.u-section-2 .u-gallery-1 {
  width: 420px;
  height: 444px;
  grid-gap: 10px 10px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-5 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-6 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-7 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 24px auto 0;
}

.u-section-2 .u-group-2 {
  width: 460px;
  min-height: 560px;
  height: auto;
  margin: -621px 24px 0 auto;
}

.u-section-2 .u-gallery-2 {
  width: 420px;
  height: 444px;
  grid-gap: 10px 10px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-gallery-inner-2 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-8 {
  object-position: 50% 26.99%;
}

.u-section-2 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-9 {
  object-position: 50% 34.96%;
}

.u-section-2 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-10 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-11 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-12 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-13 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-14 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-15 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-2 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-8 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-9 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-10 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-11 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-12 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-13 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-14 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-15 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-3 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-4 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-2 .u-group-3 {
  width: 460px;
  min-height: 565px;
  height: auto;
  margin: 84px 24px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-2 .u-gallery-3 {
  width: 420px;
  height: 444px;
  grid-gap: 10px 10px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-gallery-inner-3 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-3 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-16 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-17 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-18 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-5 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-6 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px 136px 0;
}

.u-section-2 .u-group-4 {
  width: 460px;
  min-height: 566px;
  height: auto;
  margin: -605px auto 0 24px;
}

.u-section-2 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-2 .u-gallery-4 {
  width: 420px;
  height: 444px;
  grid-gap: 10px 10px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-gallery-inner-4 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-19 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-20 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-21 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-22 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-22 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-23 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-2 .u-over-slide-23 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-4 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-19 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-20 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-21 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-22 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-23 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-7 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-8 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 24px auto 0;
}

.u-section-2 .u-group-5 {
  width: 460px;
  min-height: 594px;
  height: auto;
  margin: 79px auto 39px;
}

.u-section-2 .u-gallery-5 {
  width: 420px;
  height: 444px;
  grid-gap: 10px 10px;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-gallery-inner-5 {
  --gap: 0px;
}

.u-section-2 .u-carousel-item-24 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-24 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-25 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-25 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-26 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-26 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-5 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-24 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-25 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-26 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-9 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-10 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 24px 116px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: normal;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 51px;
    height: 51px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 51px;
    height: 51px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 51px;
    height: 51px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 51px;
    height: 51px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 51px;
    height: 51px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 51px;
    height: 51px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 51px;
    height: 51px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 44px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 44px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 44px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 44px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 44px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 44px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 44px;
    height: 44px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 44px;
    height: 44px;
  }

  .u-section-2 .u-carousel-control-3 {
    left: 8px;
  }

  .u-section-2 .u-carousel-control-4 {
    right: 8px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 76px;
    height: 76px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 76px;
    height: 76px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 76px;
    height: 76px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 76px;
    height: 76px;
  }

  .u-section-2 .u-carousel-thumbnail-23 {
    width: 76px;
    height: 76px;
  }

  .u-section-2 .u-carousel-control-7 {
    left: 8px;
  }

  .u-section-2 .u-carousel-control-8 {
    right: 8px;
  }

  .u-section-2 .u-group-5 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3623px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    min-height: 621px;
    margin-top: 74px;
    margin-right: auto;
  }

  .u-section-2 .u-carousel-control-3 {
    left: 6px;
  }

  .u-section-2 .u-carousel-control-4 {
    right: 6px;
  }

  .u-section-2 .u-group-3 {
    min-height: 606px;
    margin-top: 767px;
    margin-right: auto;
  }

  .u-section-2 .u-group-4 {
    min-height: 620px;
    margin-top: -1299px;
    margin-left: auto;
  }

  .u-section-2 .u-carousel-control-7 {
    left: 6px;
  }

  .u-section-2 .u-carousel-control-8 {
    right: 6px;
  }

  .u-section-2 .u-group-5 {
    min-height: 673px;
    margin-top: 752px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-carousel-control-3 {
    left: 5px;
  }

  .u-section-2 .u-carousel-control-4 {
    right: 5px;
  }

  .u-section-2 .u-carousel-control-7 {
    left: 5px;
  }

  .u-section-2 .u-carousel-control-8 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3581px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 41px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-4 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-5 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-6 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-carousel-thumbnail-7 {
    width: 40px;
    height: 40px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-carousel-thumbnail-8 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-9 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-10 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-11 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-12 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-13 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-14 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-15 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-control-3 {
    left: 3px;
  }

  .u-section-2 .u-carousel-control-4 {
    right: 3px;
  }

  .u-section-2 .u-group-3 {
    min-height: 685px;
    margin-top: 702px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-3 {
    grid-gap: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 101px;
    margin-right: 101px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -1346px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-4 {
    grid-gap: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-thumbnail-19 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-20 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-21 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-22 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-thumbnail-23 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-carousel-control-7 {
    left: 3px;
  }

  .u-section-2 .u-carousel-control-8 {
    right: 3px;
  }

  .u-section-2 .u-group-5 {
    min-height: 726px;
    margin-top: 767px;
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-gallery-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 86px;
    margin-right: 86px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 63px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 63px;
}

.u-section-3 .u-container-layout-1 {
  padding: 12px 60px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 63px;
}

.u-section-3 .u-container-layout-2 {
  padding: 8px 60px;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  color: rgb(197, 54, 164) !important;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-3 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-icon-5 {
  height: 48px;
  color: rgb(0, 230, 118) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 44px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 52px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 55px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-social-icons-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 52px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 9px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 66px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 0;
  }
}